
<div class="jumbotron-fluid">
  <h1 class="display-4 p-3">Bonjour <%=params[:first_name]%>!</h1>
  <p class="lead p-3">Ici c'est notre super site de potins, il est chouette, non ?</p>
  <hr class="my-4">
  <p class="p-3">Clique ici pour le visiter !</p>
  <p class="lead p-5">
    <%= link_to "Visiter", root_path, class:"btn cta btn-primary btn-lg ", role:"button" %>
  </p>
</div>