
<img src="https://i.imgur.com/bVVtaVj.jpg" class="img-fluid contact">
<div class="container px-5">
    <h2 class="pb-2 border-bottom">Un soucis avec notre application ? Besoin d'informations ? Contactez-nous ici :)</h2>
    <div class="row g-4 row-cols-1 row-cols-lg-1">
    
        <div class="feature col">
        
            <h2>Contact par e-mail</h2>
            <p>Vous pouvez envoyez un mail à l'équipe du vocal 15 via ce bouton. Nous vous répondrons dans les meilleurs délais.</p>
            <button type="button" class="btn cta btn-secondary btn">Contact</button>
        </div>
    </div>
</div>