<h1 class="text-center" >Nous vous présentons le carrousel de la team du vocal#15!</h1>
<div class="container presentations text-center" style="margin-top: 120px">
    
<div id="carouselExampleControls" class="carousel slide  carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card border-0 mx-auto" style= "width: 21rem; margin-right: 50px; margin-bottom: 125px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.81); background-color: #e8d39880;">
            <div class="card-body">
                <img src="https://images.unsplash.com/photo-1603708637737-46b28c82a618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBhcnJvdHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=400&q=60" class="pictures_presentation card-img-top rounded-circle" style="box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81);" alt=""/>
                <h3 class="card-title pt-4 text-shadow-white font_presentation">BAPTISTE</h3>
                <p class="card-text">Je suis là uniquement pour le rhum</p>
                <a href="https://github.com/LoiseauB"><img src="assets/github.ico" class="logo" alt=""></a>
            </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="card border-0 mx-auto" style="width: 21rem; margin-right: 50px; margin-bottom: 125px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.81); background-color: #e8d39880;">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1639046234446-48f35ecc3eea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29ja2F0b298ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="pictures_presentation card-img-top rounded-circle" style="box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81);" alt=""/>
                    <h3 class="card-title pt-4 text-shadow-white font_presentation">GUILLAUME</h3>
                    <p class="card-text">Futur dév plein de motivation et de créativité!!</p>
                    <a href="https://github.com/GuillaumeBrthlt"><img src="assets/github.ico" class="logo" alt=""></a>
                </div>
            </div>
    </div>
    <div class="carousel-item">
      <div class="card border-0 mx-auto" style="width: 21rem; margin-right: 50px; margin-bottom: 125px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.81); background-color: #e8d39880;">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1550853024-fae8cd4be47f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=888&q=80" class="pictures_presentation card-img-top rounded-circle" style="box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81);" alt=""/>
                    <h3 class="card-title pt-4 text-shadow-white font_presentation">GERMAIN</h3>
                    <p class="card-text">Quand on a des amis comme ça, on a pas besoin d'ennemis.</p>
                    <a href="https://github.com/xko0"><img src="assets/github.ico" class="logo" alt=""></a>
                </div>
            </div>
    </div>
    <div class="carousel-item">
    <div class="card border-0 mx-auto" style="width: 21rem; margin-right: 50px; margin-bottom: 125px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.81); background-color: #e8d39880;;">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1618802812816-804ec6a01b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGFyYWtlZXR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="pictures_presentation card-img-top rounded-circle" style="box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81);" alt=""/>
                    <h3 class="card-title pt-4 text-shadow-white font_presentation">CHRISTELLE</h3>
                    <p class="card-text">Avec une telle équipée, je peux affronter toutes les vagues!</p>
                    <a href="#"><img src="assets/github.ico" class="logo" alt=""></a>
                </div>
            </div>
    </div>
    <div class="carousel-item">
    <div class="card border-0 mx-auto" style="width: 21rem; margin-right: 50px; margin-bottom: 125px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.81); background-color: #e8d39880;">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1506799688517-a81d6bd3df37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="pictures_presentation card-img-top rounded-circle" style="box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81);" alt=""/>
                    <h3 class="card-title pt-4 text-shadow-white font_presentation">PAULINE</h3>
                    <p class="card-text">Celle qui demande toujours à recevoir une bouée pour ne pas finir noyée dans une mer de code</p>
                    <a href="#"><img src="assets/github.ico" class="logo" alt=""></a>
               </div>
            </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>